VITE_CHAIN_ID=56
VITE_BSC_RPC_URL=https://bsc-dataseed.binance.org/
VITE_MARS_BROKERS_NFT_ADDRESS=
VITE_MARS_BROKERS_STAKING_ADDRESS=
VITE_MARS_BROKERS_MARKET_ADDRESS=
VITE_MARS_BROKER_ROUTER_ADDRESS=
VITE_MARSCOIN_ADDRESS=0xfe189e97832da1573e4e4ff034f4ffc3a15c7777
